<!DOCTYPE html>
<html>
<%- partial('parts/head') %>

<% if (typeof page.title == 'undefined') { %>
  <body class="home-template">
<% } else { %>
  <body class="post-template">
<% } %>

<%- partial('parts/navbar') %>
<%- partial('parts/header') %>
<%- body %>
<%- partial('parts/footer') %>
<%- partial('parts/after_all') %>
</body>
</html>
